:root {
  --background: #f9f9f9; /* Твоят дизайн цвят */
  --foreground: #171717;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100dvh; /* Гарантира, че страницата заема целия екран */
  background-color: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%; /* Предотвратява странно преоразмеряване в Safari */
}